{% load crispy_forms_tags %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create a Review</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'reviews:create' %}">
            {% csrf_token %}
  
            <!-- Hidden input for product_id -->
            <input type="hidden" name="product_id" value="{{ product.id }}">
  
            {{ form|crispy }}
            
            {% if form.errors %}
              <div class="errors">
                {{ form.errors }}
              </div>
            {% endif %}
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
  
          </form>
        </div>
        
      </div>
    </div>
  </div>