{% load static %}

<div class="container">

    <div class="row g-5 mx-auto d-block" style="padding-top: 1rem;" >
        <div class=" order-md-last" style="max-width: 1300px">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill" id="cart-quantity"> 
              {{ cart|length }}
            </span>
          </h4>
          
          {% for cart_product in cart_products %}
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">{{ cart_product.name }}</h6>
                  
                  <div style="padding-top: 1rem; display: flex; gap: 1rem" class="select-quantity">

                    <select style="max-width: 60px;" class="form-select" id="select{{ cart_product.id }}">
                    
                      {% for key, value in quantities.items %}
                        {% if key == cart_product.id|slugify %}
                          <option selected>{{ value }}</option>
                        {% endif %}
                      {% endfor %}
                      
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                    <button type="button" data-index="{{ cart_product.id }}" class="btn btn-secondary update-cart" data-bs-toggle="modal" data-bs-target="#updateCartModal">
                      Update
                    </button>

                                         
                    

                  </div>
                </div>
                <span class="text-body-secondary">R$ {{ cart_product.price }}</span>
              </li>
            {% empty %}
              <p class="fw-bold" style="padding-bottom: 1rem;" >Its empty! 😥</p>
            {% endfor %}
            
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$0</strong>
            </li>
          </ul>

      </div>
</div>

<div class="modal fade" id="updateCartModal" tabindex="-1" aria-labelledby="updateCartModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateCartModal">Product Updated ✅</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The quantity of products was changed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>                                  

<script>
  $(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    
    // Captura o valor do botão específico que foi clicado
    var productid = $(this).data('index');
    
    $.ajax({
        type: 'POST',
        url: '{% url "cart:cart_update" %}',
        data: {
            product_id: $(this).data('index'), // Usa o valor capturado
            product_qty: $('#select' + productid).val(), // Usa a quantidade capturada
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            //console.log(json);
            //document.getElementById("cart-quantity").textContent = json.qty;
            //location.reload();
        },

        error: function(xhr, errmsg, err){
            console.log(errmsg); // Exibe mensagens de erro no console
        }
    });

});
</script>