{% load static %}

<div class="container">
    <div class="card border border-secondary-subtle mb-3 mx-auto d-block" style="max-width: 1440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <a href="" class="|"><img src="{{ product.cover.url }}" class="img-fluid rounded-start" alt="..."></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h5 class="card-title text-info-emphasis"><img src="{% static 'ecommerce/img/rows_icon_264903.svg' %}" alt=""> {{ product.category }}</h5>
              <h5 class="card-title">R$ {{ product.price }}</h5>

              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      More information
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.description }}
                    </div>
                  </div>
                </div>
            </div>
            
              <p style="padding-top: 1rem;" class="card-text"><small class="text-body-secondary">Last update: {{ product.updated_at }}</small></p>

              {% if not request.user.is_authenticated %}

                <div class="alert alert-warning" role="alert">
                  You can not buy a product without being logged in, click <a href="{% url 'users:login' %}">here</a>
                </div>

              {% else %}
                
              
                <div style="padding-bottom: 1rem; display: flex; gap: 2rem;">
                  <button value="{{ product.id }}" class="btn btn-primary add-cart-btn" data-bs-toggle="modal" data-bs-target="#cartModal">
                    Add to Cart
                  </button>
  
                  <select id="qty-cart" style="max-width: 140px" class="form-select" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              

              {% endif %}

            </div>
          </div>
        </div>

    

    </div>

    
</div>



<script>
  $(document).on('click', '.add-cart-btn', function(e){
    e.preventDefault();
    
    // Captura o valor do botão específico que foi clicado
    var productId = $(this).val();
    
    // Captura a quantidade selecionada no dropdown
    var productQty = $('#qty-cart').val(); // Usando .val() para pegar o valor selecionado
    
    $.ajax({
        type: 'POST',
        url: '{% url "cart:cart_add" %}',
        data: {
            product_id: productId, // Usa o valor capturado
            product_qty: productQty, // Usa a quantidade capturada
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            //console.log(json);
            document.getElementById("cart-quantity").textContent = json.qty;

            // Show the modal
            $('#cartModal').modal('show');

            // Reload the page after 2 seconds (2000 milliseconds)
            setTimeout(function() {
              location.reload();
            }, 2000);
        },

        error: function(xhr, errmsg, err){
            console.log(errmsg); // Exibe mensagens de erro no console
        }
    });

});
</script>

