{% load static %}
<div class="container" style="padding-bottom: 1rem;">
    <div class="card">
        <div class="card-header">
            Customer Review
        </div>
        <div class="container" style="padding-top: 1rem;">
            <div class="card w-75 mb-3" >
                <div class="card-body">
                  <h5 class="card-title"><img src="{% static 'ecommerce/img/user.png' %}" style="max-width: 15px;" alt=""> Estrogorofobaldo</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#"><img style="max-width: 20px;" src="{% static 'ecommerce/img/like.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>