{% load static %}

<div class="container">
    <div class="card border border-secondary-subtle mb-3 mx-auto d-block" style="max-width: 1440px;">
        <div class="row g-0">
          <div class="col-md-4">
            <a href="" class="|"><img src="{{ product.cover.url }}" class="img-fluid rounded-start" alt="..."></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h5 class="card-title text-info-emphasis"><img src="{% static 'ecommerce/img/rows_icon_264903.svg' %}" alt=""> {{ product.category }}</h5>
              <h5 class="card-title">R$ {{ product.price }}</h5>

              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      More information
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ product.description }}
                    </div>
                  </div>
                </div>
            </div>
            
              <p style="padding-top: 1rem;" class="card-text"><small class="text-body-secondary">Last update: {{ product.updated_at }}</small></p>

              {% if not request.user.is_authenticated %}

                <div class="alert alert-warning" role="alert">
                  You can not buy a product without being logged in, click <a href="{% url 'users:login' %}">here</a>
                </div>

              {% else %}

                <div style="padding-bottom: 1rem;">
                  <button type="button" style="width: 5rem;" class="btn btn-success"><a class="link">Buy</a></button>
                </div>

              {% endif %}

            </div>
          </div>
        </div>
    </div>
</div>