{% load static %}
<div class="container" style="padding-bottom: 1rem;">
    <div class="card">
        <div class="card-header">
            Customer Review
        </div>
        <div class="container" style="padding-top: 1rem;">
            <div class="card w-75 mb-3" >

                {% for review in reviews %}
                    
                    <div class="card-body" style="">
                    {% if review.user.account.profile_img %}
                        <div style="display: flex; padding-bottom: 1rem;">
                            <span>
                                <img style="width: 65px; height: 50px; border-radius: 50%; padding-right: 0.5rem;" src="{{ review.user.account.profile_img.url }}">
                            </span>
                           
                            <h5 style="text-align: center">{{ review.user.username }}</h5>
                         
                        </div>
                        <span>
                            <h5 class="card-title">
                                {{ review.topic }}
                            </h5>
                        </span>
                    {% endif %}

                    <p class="card-text">{{ review.text }}</p>
                    

                    {% if review.rating >= 3 %}

                        <div style="max-width: 250px; display: flex; gap: 2rem; ">
                   
                            <span><img style="max-width: 20px;" src="{% static 'ecommerce/img/like.png' %}" alt=""></span>
                       
                            <span><img style="max-width: 20px;" src="{% static 'ecommerce/img/star.png' %}" alt=""></span>

                            <span>
                                <p style="font-size: 1.25rem" class="fw-bold">{{ review.rating }}</p>
                            </span>
                            
                        </div>

                    {% else %}

                    <div style="max-width: 250px; display: flex; gap: 2rem; ">
                   
                        <span><img style="max-width: 20px;" src="{% static 'ecommerce/img/dislike.png' %}" alt=""></span>
                   
                        <span><img style="max-width: 20px;" src="{% static 'ecommerce/img/star.png' %}" alt=""></span>

                    
                        <span>
                            <p style="font-size: 1.25rem" class="fw-bold">{{ review.rating }}</p>
                        </span>
                        

                    </div>
                        
                
                    {% endif %}

                    <p class="card-text">
                        <small class="text-body-secondary">Created at: {{ review.created_at }}</small>
                    </p>
                    </div>

                {% empty %}
                    <h4 style="text-align: center">This product has no reviews yet</h4>
                {% endfor %}

            </div>
        </div>
    </div>
</div>