{% include 'dashboard/partials/dashboard-navbar.html' %}
  <div class="col">
    <div class="e-tabs mb-3 px-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
      </ul>
    </div>
    
    <div class="row flex-lg-nowrap">
      <div class="col mb-3">

        <div class="e-panel card">
          <div class="card-body">
            <div class="card-title">
              <h6 class="mr-2"><span>Users</span><small class="px-1">Be a wise leader</small></h6>
            </div>
            <div class="e-table">
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="align-top">
                        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                          <input type="checkbox" class="custom-control-input" id="all-items">
                          <label class="custom-control-label" for="all-items"></label>
                        </div>
                      </th>
                      <th>Photo</th>
                      <th class="max-width">Name</th>
                      <th class="sortable">Joined in</th>
                      <th class="sortable">Last login</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <!-- User table -->
                  <tbody>
                    {% for user in users %}
                        <tr>
                        <td class="align-middle">
                            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                            <input type="checkbox" class="custom-control-input" id="item-1">
                            <label class="custom-control-label" for="item-1"></label>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            
                                <img style="max-width: 40px; border-radius: 50% " src="{{ user.account.profile_img.url }}" alt="">
                            
                        </td>
                        <td class="text-nowrap align-middle"><a style="text-decoration: none;" href="{% url 'users:profile' user.id %}">{{ user.username }}</a></td>
                        <td class="text-nowrap align-middle"><span>{{ user.date_joined|date:"d/m/Y" }}</span></td>

                        <td class="text-nowrap align-middle"><span>{{ user.last_login }}</span></td>

                        
                        <td class="text-center align-middle">
                            <div class="btn-group align-top">
                                <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                                <button class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                  </tbody>

                  <!-- End User table -->

                </table>
              </div>
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>