{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'global/partials/head.html' %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'global/partials/header.html' %}
    {% include 'global/partials/messages.html' %}
    {% include 'global/partials/modal.html' %}
    
    {% if 'Dashboard' not in title %}
        {% include 'global/partials/search.html' %}
    {% endif %}

    {% include 'global/partials/modal.html' %}

    {% block content %}{% endblock content %}

    {% include 'global/partials/footer.html' %}

</body>
</html>