{% load crispy_forms_tags %}

<div class="container">
    <form 
      class="mx-auto d-block"
      style="max-width: 800px; padding-top: 1rem;"
      action="" 
      method="POST"
      enctype="multipart/form-data"  
    >
      {% csrf_token %}

      <div class="card">
        <h5 class="card-header">{{ title }}</h5>
        <div class="card-body">
          {{form|crispy}}
        </div>

        {% if form.errors %}
          <div class="errors">
            {{ form.errors }}
          </div>
        {% endif %}

        <div style="padding-bottom: 1rem; padding-left: 1rem;">
          <button type="submit" style="width: 5rem;" class="btn btn-primary"><a class="link">Submit</a></button>
        </div>

        {% if not request.user.is_authenticated %}
          <div style="padding: 1rem;">
            <div class="alert alert-warning" role="alert">
              Doesn't have a account? create <a href="">here</a>
            </div>
          </div>
        {% endif %}

      </div>


    </form>
</div>

