<nav class="navbar bg-primary" data-bs-theme="dark" fixed-top>
  <div class="container-fluid">
    <a class="navbar-brand fs-2 text fw-bold" href="{% url 'ecommerce:home' %}">Ecommerce</a>

    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        
      </span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">

        {% if request.user.is_authenticated %}
          {% if request.user.account.profile_img %}
            <img style="width: 60px; height: 40px; border-radius: 50%; padding-right: 0.5rem;" src="{{ request.user.account.profile_img.url }}">
          {% endif %}
          
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            {{ request.user.username }} 
          </h5>
        {% else %}
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            Hello User!
          </h5>
        {% endif %}
        
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'ecommerce:home' %}">Home</a>
          </li>
        
          {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'users:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Create Account</a>
            </li>
          {% else %}
            <li class="nav-item">
              <div style= class="cart-badge-bg">
                
                <a class="nav-link" href="{% url 'cart:cart' %}">My Cart <span class="badge bg-primary rounded-pill" id="cart-quantity"> 
                  {{ cart|length }}
                </span></a>
              </div>
            </li>
            <li  style="padding-top: 0.5rem;" class="nav-item">
              <form action="{% url 'users:logout' %}" method="POST">
                {% csrf_token %}
                <button  type="submit"><a style="text-decoration: None; height: 20px; ">Logout</a></button>
              </form>
            </li>
          {% endif %}
         
      </div>
    </div>
  </div>
</nav>